apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "postgres.fullname" . }}
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
data:
  postgresql.conf: |
    {{- range $key, $value := .Values.postgresqlConfig }}
    {{ $key }} = {{ $value }}
    {{- end }}
