apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "server.fullname" . }}
  labels:
    {{- include "server.labels" . | nindent 4 }}
data:
  {{ .Values.config.filename }}: |
    {{ toYaml .Values.config.content | indent 4 }}
