apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: invest-compass
ports:
  - port: 9000:80
    nodeFilters:
      - loadbalancer
options:
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*
