apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: invest-compass
ports:
  - port: 9000:80
    nodeFilters:
      - loadbalancer
volumes:
  - volume: $MANIFESTS_DIR:/var/lib/rancher/k3s/server/manifests
    nodeFilters:
      - server:*
options:
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*
