apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
spec:
  chart: traefik
  repo: https://traefik.github.io/charts
  targetNamespace: kube-system
  valuesContent: |-
    ports:
      web:
        expose: true
      websecure:
        expose: false
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: PathPrefix(`/dashboard`)
        entryPoints: ["traefik"]
    providers:
      kubernetesGateway:
        enabled: true
